.topNav{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    background: #242424;
    border-bottom: 3px solid #e7e8e8;
    z-index: 1002;
}

.topNav div{
    text-align: center;
    color: #888888;
}

.logo{
    width: 105px;
    height: 85px;
    margin-top: 10px;
    align-self: flex-start;
}

.one-third{
    width: 33%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popCount{
  line-height: 5px;
}

/*Menu Button Toggle*/

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
  outline: none;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}



/* General styles for all menus */
.menu {
	background: #e6e6e6;
	position: absolute;
	width: 240px;
	height: 150vh;
	top: 65px;
	z-index: 1000;
	left: -240px;
}

.menu h3 {
	color: #e6e6e6;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #666666;
}

.menu a, .menu ul {
	display: block;
  color: #000000;
	font-size: 1.1em;
	font-weight: 300;
  margin: 0;
  padding: 20px 0 0 40px;
  border-bottom: 1px solid #8c8c8c;
}

.menu ul li{
  text-align: center;
  margin-left: -40px;
  list-style: none;
  opacity: 0;
  line-height: 0px;
  transition-duration: .3s;
}

.menu ul li:first-child{
  margin-top: 10px;
}

.menu ul li.expanded{
  background: #bfbfbf;
  opacity: 1;
  line-height: 40px;
  transition-duration: .3s;
  color: #000000;
  border-bottom: 1px solid #8c8c8c;
}

.menu ul li.expanded:last-child{
  border-bottom: none;
}

/*.menu ul:hover{
  background: #d9d9d9;
}*/

.menu ul.selected{
	background: #8c8c8c;
  color: #ffffff;
}

.menu.menu-open {
	left: 0;
}

/* Push classes applied to the body */

.container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.main.noScroll{
  position: fixed;
  margin: 0 16px;
}

.main{
  position: relative;
  left: 0;
}

.main.push-toright {
  left: 240px;
}

.spacer{
  height: 70px;
}
/* Transitions */

.menu,
.main {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


/*Figures*/
.figList{
  margin-left: -40px;
}

.figure{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-left: -60px;
  padding-top: 16px;
  color: #242424;
  border-bottom: #242424 solid 1px;
  background: -webkit-linear-gradient(#fdfdfd, #cfcfcf); 
  background: -o-linear-gradient(#fdfdfd, #cfcfcf); 
  background: -moz-linear-gradient(#fdfdfd, #cfcfcf); 
  background: linear-gradient(#fdfdfd, #cfcfcf); 
  clear: both;
}

.haveWantToggles{
  display: none;
}

.series{
  font-size: 14px;
}
.figPic{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.figPic img{
  max-height: 100px; 
  max-width: 150px;
  margin: 0 auto;
}

.figNum, .figName{
  font-weight: 700;
}

.figInfo{
  text-align: center;
  line-height: 10px;
}

.figure .closeButton{
  display:none;
}

.figure.full .closeButton{
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2005;
}

.figure.full{
  display: block;
  position: fixed;
  flex-flow: column;
  justify-content: space-around;
  top: 65px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.figure.full .figPic, .figure.full .figInfo, 
.figure.full .haveWantToggles{
  text-align: center;
  width: 100%;
}

.figure.full img{
  max-height: 210px;
  max-width: 310px;
}

.figure.full .haveWantToggles{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  color: #242424;
}

.haveWantToggles i{
  font-size: 28px;
  line-height: 10px;
  font-family: 'fontawesome';
}

.haveWantToggles i p{
  color: #242424;
  font-size: 18px;
  text-shadow: none;
}

.fa-heart-o:hover, .fa-heart{
  color: #fc4688;
}

.fa-heart{
  text-shadow: 1px 1px black,
                -1px -1px black,
                -1px 1px black,
                1px -1px black; 
}

.fa-square-o:hover, .fa-check-square{
  color: green;
}

.fa-check-square{
  background: #d4d4d4;
  border-radius: 5px;
  text-shadow: 1px 1px black,
                -1px -1px black,
                -1px 1px black,
                1px -1px black;
}

.fa-usd:hover{
  color: gold;
}

.fa-usd.toggled{
  color: gold;
  text-shadow: 1px 1px black,
                -1px -1px black,
                -1px 1px black,
                1px -1px black;
}

.fa-star-o:hover, .fa-star{
  color: yellow;
}

.fa-star{
  text-shadow: 1px 1px black,
                -1px -1px black,
                -1px 1px black,
                1px -1px black;
}

.figure.full .figInfo{
  padding-top: 20px;
  border-top: #242424 1px solid;
}




